#jinja2:lstrip_blocks: True
{% set ntpvars = node_services.clock.ntp %}
# Created by Ansible

{% if ntpvars.servers is defined %}
# sync to a single server
{%    for server in ntpvars.servers -%}
server {{server}}
{%    endfor %}
{% endif %}

{% if ntpvars.listen is defined %}
# Addresses to listen on (ntpd does not listen by default)
{%    for addr in ntpvars.listen %}
listen on {{addr}}
{%    endfor %}
{% endif %}
