#jinja2:lstrip_blocks: True
{% set zvars = node_services.zabbix %}
# Created by Ansible

LogFile=/var/log/zabbix/zabbix_agentd.log
{% if zvars.server is defined %}
Server={{zvars.server}}
ServerActive={{zvars.server}}
{% endif %}
Hostname={{inventory_hostname}}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
